venv/
.venv/
env/
node_modules/

__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.o
*.out

.idea/
.vscode/
*.swp

.env
config.json
secrets.yaml
id_rsa
*.pem

.DS_Store

/*bert*/
/*bert*/**
glue/
outputs/
sst2/
swanlog/